* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 30%;
  margin-top: 20px;
}
.heading {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}
.left {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pad_top {
  padding-top: 14px;
}
.instName {
  font-size: 20px;
  color: chocolate;
  font-weight: 600;
}
.parent:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}
